In [1]:
import pandas as pd
import numpy as np

df = pd.read_parquet('~/wind_daily_2010_adj.parquet')

In [2]:
df.describe()

,OPEN,HIGH,LOW,CLOSE,VOLUME,AMT,CHG,PCT_CHG,PRE_CLOSE
count,1.299414e+07,1.299414e+07,1.299414e+07,1.301316e+07,1.299414e+07,1.299414e+07,1.301316e+07,1.299414e+07,1.301316e+07
mean,1.456739e+01,1.489776e+01,1.427890e+01,1.456714e+01,1.464981e+07,1.860221e+08,1.076897e-02,8.565719e-02,1.456125e+01
std,2.653298e+01,2.708813e+01,2.604849e+01,2.654086e+01,3.850164e+07,4.753679e+08,1.418012e+00,4.003391e+00,2.652683e+01
min,2.235761e-01,2.283521e-01,2.182031e-01,2.235761e-01,0.000000e+00,0.000000e+00,-2.505500e+02,-6.447963e+01,2.235761e-01
25%,5.306982e+00,5.403356e+00,5.219588e+00,5.302208e+00,2.113460e+06,2.758628e+07,-1.600000e-01,-1.379310e+00,5.300718e+00
50%,8.935332e+00,9.114099e+00,8.776367e+00,8.932377e+00,5.448569e+06,6.727495e+07,0.000000e+00,0.000000e+00,8.930000e+00
75%,1.600451e+01,1.635123e+01,1.570130e+01,1.600527e+01,1.389538e+07,1.714105e+08,1.500000e-01,1.337580e+00,1.600000e+01
max,2.307070e+03,2.342639e+03,2.215268e+03,2.318677e+03,5.616135e+09,9.003765e+10,4.862200e+02,1.942581e+03,2.318677e+03

In [3]:
df.head()

,CODE,OPEN,HIGH,LOW,CLOSE,VOLUME,AMT,CHG,PCT_CHG,PRE_CLOSE,NAME
2010-01-04,000001.SZ,6.541872,6.557880,6.317763,6.325766,24192276.0,5.802495e+08,-0.66,-2.708248,6.501853,平安银行
2010-01-05,000001.SZ,6.336438,6.376458,6.069641,6.216380,55649982.0,1.293477e+09,-0.41,-1.729228,6.325766,平安银行
2010-01-06,000001.SZ,6.203040,6.203040,6.061637,6.109661,41214313.0,9.444537e+08,-0.40,-1.716738,6.216380,平安银行
2010-01-07,000001.SZ,6.109661,6.149680,5.976262,6.042961,35533685.0,8.041663e+08,-0.25,-1.091703,6.109661,平安银行
2010-01-08,000001.SZ,6.002942,6.069641,5.962922,6.029621,28854306.0,6.506674e+08,-0.05,-0.220751,6.042961,平安银行

In [6]:
# 读取数据
import pandas as pd
import os

df = pd.read_parquet(os.path.expanduser('~/wind_daily_2010_adj.parquet'))

# 查看列名
print("列名:", df.columns.tolist())
print("数据量:", len(df))

# 找出每一天价格最低的股票（按收盘价）
# 过滤掉价格为0或NaN的数据
valid_df = df[(df['CLOSE'] > 0) & (df['CLOSE'].notna())].copy()

# 重置索引，让日期变成普通列（列名为原索引名或 'index'）
valid_df = valid_df.reset_index()
date_col = valid_df.columns[0]  # 获取日期列名（通常是 'index' 或原索引名）
print(f"日期列名: {date_col}")

# 按日期分组，找出每天收盘价最低的股票的行索引
daily_min_idx = valid_df.groupby(date_col)['CLOSE'].idxmin()

# 获取每天价格最低的股票信息
daily_lowest = valid_df.loc[daily_min_idx]

# 打印结果
print("\n每一天价格最低的股票信息:")
print(daily_lowest[[date_col, 'CODE', 'NAME', 'CLOSE', 'OPEN', 'HIGH', 'LOW']].head(20))

# 查看最常出现在每日最低价的股票
print("\n最常出现在每日最低价的股票 (前10):")
print(daily_lowest['CODE'].value_counts().head(10))

列名: ['CODE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOLUME', 'AMT', 'CHG', 'PCT_CHG', 'PRE_CLOSE', 'NAME']
数据量: 21103808
日期列名: index

每一天价格最低的股票信息:
             index       CODE  NAME     CLOSE  OPEN  HIGH  LOW
1552810 2010-01-04  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552811 2010-01-05  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552812 2010-01-06  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552813 2010-01-07  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552814 2010-01-08  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552815 2010-01-11  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552816 2010-01-12  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552817 2010-01-13  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552818 2010-01-14  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552819 2010-01-15  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552820 2010-01-18  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552821 2010-01-19  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552822 2010-01-20  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552823 2010-01-21  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552824 2010-01-22  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552825 2010-01-25  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552826 2010-01-26  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552827 2010-01-27  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552828 2010-01-28  000981.SZ  山子高科  0.651269   NaN   NaN  NaN
1552829 2010-01-29  000981.SZ  山子高科  0.651269   NaN   NaN  NaN

最常出现在每日最低价的股票 (前10):
CODE
300059.SZ    659
002323.SZ    336
000981.SZ    273
000564.SZ    264
600666.SH    250
600734.SH    233
600282.SH    223
002506.SZ    217
600022.SH    196
601000.SH    164
Name: count, dtype: int64

In [ ]:
import matplotlib.pyplot as plt

# 获取前10只唯一的股票代码
unique_stocks = df['股票代码'].unique()[:10]
sampledf = df[df['股票代码'].isin(unique_stocks)].copy()

# 确保日期列是datetime类型
if '日期' in sampledf.columns:
    sampledf['日期'] = pd.to_datetime(sampledf['日期'])
    sampledf = sampledf.sort_values(['股票代码', '日期'])

# 绘制每只股票的收盘价走势
plt.figure(figsize=(15, 8))

for stock_code in unique_stocks:
    stock_data = sampledf[sampledf['股票代码'] == stock_code]
    if len(stock_data) > 0:
        plt.plot(stock_data['日期'], stock_data['收盘'], label=str(stock_code), alpha=0.7)

plt.xlabel('日期', fontsize=12)
plt.ylabel('收盘价', fontsize=12)
plt.title('股票收盘价走势图', fontsize=14)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()